@charset "UTF-8";
	.content > .content_body {
		padding: 0 0 1rem 3rem;
	}
	.content > .content_body .table-container {
		flex: 1;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		padding: 0 3rem 0 0;
		overflow: auto;
	}
	.content_body > form {
		display: flex;
		height: 4rem;
	}
	.content_body > form > .searchBox {
		flex: 1;
		margin-bottom: 0.5rem;
		margin-left: 0.5rem;
		align-items: center;
		font-size: 1.4rem;
		font-family: 'GmarketSansMedium';
	} 
	.searchBox select {
		width: 11.5rem;
		height: 3rem;
		border-radius: 0.3rem;
		margin-left: 1rem;
		padding: 0.2rem 0.3rem;
		box-shadow: 0 0 0.1rem #505050;
		font-size: 1.6rem;
	}
	.searchBox select:focus {
		outline: none;
		box-shadow: 0 0 0.2rem #505050;
	}
	.searchBox option {
		font-size: 1.6rem;
	}
	.searchBox .inputBox {
		margin-left: 0.5rem;
		border-radius: 0.3rem;
	}
	.searchBox input {
		width: 18rem;
		height: 2.6rem;
		border-top-left-radius: 0.3rem;
		border-bottom-left-radius: 0.3rem;
		border: none;
		padding: 0.2rem 0.3rem;
		box-shadow: 0 0 0.1rem #505050;
		font-size: 1.6rem;
		z-index: 10;
	}
	.searchBox input[type=month] {
		width: 14.5rem;
		border-radius: 0.3rem;
		margin-left: 0.5rem;
	}
	.searchBox input:focus{
		outline: none;
	}
	.searchBox input[type=month]:focus {
		box-shadow: 0 0 0.2rem #505050;
	}
	input[type="month"]::-webkit-calendar-picker-indicator {
		cursor: pointer;
	}
	.searchBox button {
		background: #ffffff;
		background-image: url('/project/images/search.jpg');
		background-position:center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 3rem;
		height: 3rem;
		border-radius: 0.3rem;
		border: none;
		box-shadow: 0 0 0.1rem #505050;
		font-size: 1.6rem;
		z-index: 10;
		cursor: pointer;
	}
	
	.content_body table.total {
		border: 0.2rem solid silver;
		border-radius: 0.8rem;
		width: 40%;
		margin-bottom: 0.5rem;
	}
	.content_body table.total tr {
		display: flex;
		background: #f8f7f2;
		border-bottom: 0.1rem solid silver;
		align-items: center;
		height: 3rem;
	}
	.content_body table.total tr.last {
		height: 5.4rem;
	}
	.content_body table.total tr:last-of-type {
		border-bottom: none;
	}
	.content_body table.total tr th,td {
		display: flex;
		height: 3.1rem;
		font-size: 1.6rem;
	}
	.content_body table.total tr th {
		background: rgba(192,192,192,0.5);
		flex: 2;
		justify-content: center;
		align-items: center;
		border-right: 0.2rem solid silver;
	}
	.content_body table.total tr td {
		flex: 3;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
		justify-content: flex-start;
		align-items: center;
	}
	.content_body table.total tr:first-of-type > th{
		border-top-left-radius: 0.5rem;
		height: 3rem;
	}
	.content_body table.total tr:last-of-type > th{
		border-bottom-left-radius: 0.5rem;
		height: 3rem;
	}
	
	.content_body table.balancing {
		border: 0.2rem solid silver;
		border-radius: 0.8rem;
		width: 100%;
	}
	.content_body table.balancing tr {
		display: flex;
		background: #f8f7f2;
		border-bottom: 0.2rem solid silver;
		margin-top: 0.2rem;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: stretch;
		height: 6rem;
	}
	.content_body table.balancing tr:first-of-type {
		background: silver;
		border-radius: 0.5rem;
		margin-top: 0rem;
	}
	.content_body table.balancing tr:hover:not(:first-of-type) {
		background: rgba(192, 192, 192, 0.3);
	}
	.content_body table.balancing tr:nth-of-type(2) {
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
	}
	.content_body table.balancing tr:last-of-type {
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		border-bottom: none;
	}
	.content_body table.balancing tr td,th {
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 0.1rem solid silver;
		height: 2.9rem;
		width: 20%;
		font-size: 1.6rem;
	}
	.content_body table.balancing tr th {
		border-right: 0.1rem solid #f8f7f2;
	}
	.content_body table.balancing tr > *:first-of-type {
		height: 6rem;
	}
	.content_body table.balancing tr > th:nth-of-type(2n) {
		border-bottom: 0.1rem solid #f8f7f2;
	}
	.content_body table.balancing tr > td:nth-of-type(2n) {
		border-bottom: 0.1rem solid silver;
	}
	.content_body table.balancing tr > th:last-of-type {
		height: 6rem;
		border-right: none;
		border-bottom: none;
	}
	.content_body table.balancing tr > td:last-of-type {
		height: 6rem;
		border-right: none;
		border-bottom: none;
	}
	.content_body table.balancing tr > td:hover {
		font-weight: bold;
	}
	.content_body table.balancing tr.onerow > th {
		width: 100%;
	}