@charset "UTF-8";
	* {
		margin: 0;
		padding: 0;
		font-size: 10px;
	}
	div {
		display: flex;
	}
	@font-face {
    	font-family: 'GmarketSansMedium';
    	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
	}
	.container {
		background: #f8f7f2;
		border-radius: 0.8rem;
		flex-direction: column;
		margin: auto;
		padding: 2rem;
		padding-top: 1rem;
		width: 60rem;
		justify-content: flex-start;
	}
	.logo {
		display: flex;
		background-image: url('http://localhost:8080/project/images/logo4.jpg');
		background-size: cover;
		margin-bottom: 1rem;
		width: 25rem;
		height: 12.5rem;
	}
	.msg {
		flex-direction: column;
		font-family: 'GmarketSansMedium', sans-serif;
		font-size: 2.4rem;
	}
	.password {
		background: #fff;
		border-radius: 0.8rem;
		align-self: center;
		justify-content: center;
		align-items: center;
		margin: 0 2rem;
		width: 40rem;
		height: 6rem;
		font-size: 3.2rem;
		color: #f4a261;
	}
	a {
		font-size: 1.6rem;
	}
	a:link, a:visited {
		color: blue;
	}