@charset "UTF-8";
/*=====기본설정==========================================================================================  */	
	*  {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 10px;
		vertical-align: baseline;
		font-family: 'Nanum Gothic', sans-serif;
	}
	body {
		display: flex;
		width: 100vw;
		height: 100vh;
		flex-direction: column;
		overflow: hidden;
	}
	div {
		display: flex;
	}
	@font-face {
		font-family: 'paybooc-Medium';
    	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
	}
	@font-face {
    	font-family: 'paybooc-Bold';
    	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
	}
	@font-face {
    	font-family: 'GmarketSansBold';
    	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
	}
	@font-face {
    	font-family: 'GmarketSansMedium';
    	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
	}
/*===== header ==========================================================================================  */
	#header {
		background: #f8f7f2;
		height: 12%;
		flex: 0 0 auto;
		/* border-bottom: 0.1rem solid #000; */
	}
	#header .logo {
		background-image: url('/project/images/logo4.jpg');
		background-position: center;
		background-size: 20rem 10rem;
		background-repeat: no-repeat;
		align-items: center;
		justify-content: center;
		flex: 1.8;
	}
	#header .logo:hover {
		cursor: pointer;
	}
	#header .user_info {
		align-items: flex-end;
		justify-content: flex-end;
		padding: 0 0rem 2rem 0;
		flex: 7.2;
		font-size: 2.8rem;
	}
	#header .logout_container {
		align-items: flex-end;
		justify-content: center;
		flex: 1;
	}
	#header .logout_container button {
		background: #59645C;
		border: none;
		border-radius: 0.4rem;		
		width: 8rem;
		height: 2.8rem;
		margin: 0 0 2.3rem 0;
		color: #fff;
		font-size: 1.2rem;
		font-weight: bold;
		box-shadow: 0 0.15rem 0.15rem black;
	}
	#header .logout_container button:hover {
		cursor: pointer;
	}
	#header .logout_container button:active {
		margin-left: 0.08rem;
		margin-right: 0.08rem;
		margin-bottom: 2.15rem;
		box-shadow: 0 0 0 black;
	}
/*===== body_container ==========================================================================================  */
	#body_container {
		background: #f8f7f2;
		height: 88%;
		flex: 0 0 auto;
	}
/*========side_bar==========================================================================================================  */
	#body_container .side_bar {
		background: #abd1b5;
		border-top-right-radius: 0.5rem;
		box-shadow: 0.08rem -0.08rem 0.16rem #505050; 
		flex-direction: column;
		align-items: center;
		flex: 1.5;
		z-index: 4;
	}
	.side_bar > div {
		background: #678c66;
		justify-content: center;
		align-items: center;
		border-radius: 1.5rem;
		width: 17rem;
		height: 3rem;
		margin: 0.6rem 0;
		font-size: 1.8rem;
		color: #fff;
		box-shadow: 0 0.15rem 0.15rem #505050;
	}
	.side_bar > div:hover {
		background: #186343;
		cursor: pointer;
		box-shadow: 0 0.15rem 0.15rem #505050;
	}
	.side_bar > div:active {
		background: #186343;
		cursor: pointer;
		margin: 0.75rem 0 0.45rem 0;
		box-shadow: 0 0rem 0rem #505050;
	}
	.side_bar > div:first-of-type {
		background: #abd1b5;
		height: 6rem;
		font-size: 2.4rem;
		font-weight: bold;
		color: #000;
		cursor: auto;
		box-shadow: 0 0 0 #000;
	}
	.side_bar > div:first-of-type:active {
		margin: 0.6rem 0;
	}
	
/*========body==========================================================================================================  */
	#body_container .body {	
		background: #f8f7f2;
		flex-direction: column;
		flex: 8.5;
	}
/*========toolbar==========================================================================================================  */
	.body > .toolbar {
		flex: 0 0 auto;
		height: 5%;
	}
	.body > .toolbar > div {
		background: #186343;
		flex: 1;
		border-top-right-radius: 0.6rem;
		border-top-left-radius: 0.6rem;
		box-shadow: 0 -0.08rem 0.2rem #000;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		font-family: 'paybooc-Bold';
		color: #fff;
	}
	.body > .toolbar > div:hover {
		background: #588157;
		cursor: pointer;
		z-index: 2;
	}
	.body > .toolbar > div:last-of-type {
		border-top-right-radius: 0;
		background: #186343;
		cursor: auto;
		flex: 5;
		z-index: 0;
	}
		
/*========content==========================================================================================================  */
	.body > .content {
		flex-direction: column;
		flex: 0 0 auto;
		height: 95%;
		overflow: hidden;
	}
	.content > .content_head {
		align-items: center;
		margin: 1rem 0;
		padding: 0 3rem;
		flex: 0 0 auto;
		height: 10%;
	}
	.content > .content_head > .label_name {
		height: 4.4rem;
		justify-content: center;
		border-bottom: 0.2rem solid #000;
		padding: 0 1.5rem;
		font-family: 'paybooc-Medium';
		font-size: 3.2rem;
	}
/*========content_body==========================================================================================================  */
	.content > .content_body {
		flex: 1;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		padding: 0 3rem 1rem 3rem;
		overflow: hidden;
	}